<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>

  </castle>
  <appSettings>
    <add key="boardingPassGrApi" value="https://www.aia.gr/el/traveler/e-services/e-checkin"/>
    <add key="boardingPassEnApi" value="https://www.aia.gr/traveler/e-services/e-checkin/"/>
    <add key="travelAuthorizationGrApi" value="https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1&amp;language=el"/>
    <add key="travelAuthorizationEnApi" value="https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1&amp;language=en"/>
    <add key="internetAccessEnApi" value="https://www.google.co.uk/"/>
    <add key="internetAccessGrApi" value="http://www.google.com/"/>
    <add key="buyWifiEnApi" value="https://buywifi.aia.gr/"/>
    <add key="buyWifiGrApi" value="https://buywifi.aia.gr"/>
    <add key="bannerLinkEnApi" value="http://www.aia.gr/traveler/shopping-centre/magical-savings"/>
    <add key="bannerLinkGrApi" value="http://www.aia.gr/el/traveler/shopping-centre/magical-savings"/>
    <add key="applicationIsIdleAfterMinutes" value="2.8"/>
    <add key="browserIsIdleAfterMinutes" value="1"/>
    <add key="numberOfAvailablePagesToPrint" value="6"/>
    <add key="getScreenDetailsApi" value="http://127.0.0.1/aia-cms/feeds/screens.json"/>
    <add key="storeType" value="WCI"/>
    <add key="getIapScreensApi" value="http://127.0.0.1/aia-cms/feeds/iap_screens.json"/>
    <add key="statusLicencesApi" value="http://192.168.1.50/licences/status.php"/>
    <add key="sendPCDataApi" value="http://192.168.1.50/licences/licence.php"/>
    <add key="checkLicenceApi" value="http://192.168.1.50/licences/check.php"/>
  <add key="sendActionsApi" value="http://192.168.1.50/licences/action.php"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib"/>
    </assemblyBinding>
  </runtime>
</configuration>
