<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>

  </castle>
  <appSettings>
    <add key="boardingPassGrApi" value="https://www.aia.gr/el/traveler/e-services/e-checkin"/>
    <add key="boardingPassEnApi" value="https://www.aia.gr/traveler/e-services/e-checkin/"/>
    <add key="travelAuthorizationGrApi" value="https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1"/>
    <add key="travelAuthorizationEnApi" value="https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1&amp;language=en"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib"/>
    </assemblyBinding>
  </runtime>
</configuration>
